<h3>Banco de preguntas</h3>
<h4 class="subtitulo"><%= subtitulo %></h4>

<!-- colocar buscador (Fin Tema 9) -->
<div id="search" >
	<form action="/quizes/search" method="get" >
		<input type="search" name="search" placeholder="Texto a buscar" id="consulta" title="Buscar las preguntas que contengan ..." />
		<button type="submit" title="Efectuar Busqueda" alt="Boton de Busqueda" class="inv" />
			<img src="/images/lupa.png">
		</button>
	</form>
</div>

<div class="reset"></div>

<% if ( session.user ) { %>
	<a href="/quizes/new">
		<button type="button" class="adm">Crear Pregunta</button>
	</a>
<% } %>	

<table id="preguntas">
	<% var i; for (i = 0; i < quizes.length; ++i ) { %>
		<tr>
			<td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
			<td id="tema">(<%= quizes[i].tema %>)</td>
			<% if ( session.user ) { %>
				<td><a href="/quizes/<%= quizes[i].id %>/edit"><button class="adm"> editar </button></a></td>
					<td>
					<form action="/quizes/<%= quizes[i].id %>?_method=delete" method="post" >
						<button type="submit" title="Borra Pregunta" alt="Boton Borrar Pregunta" 
						onClick="return confirm('Borrar: <%= quizes[i].pregunta %>?');"  class="adm"/>
						 Borrar
						</button>
					</form>
				</td>
			<% } %>
		</tr>
	<% } %>
</table>

